<div id="searchmain" class="section_search mobile-only">
		<form id="search_form" class="row">
			<div class="col-sm-9 col-10" id="section_search-by-word">
				<div class="search-by-word-mobile">
					<input class="form-control search-all"  type="text" placeholder="O que você procura?">
				</div>
			</div>
			<div class="col-sm-3 col-2">
				<button type="button" class="btn btn-default" id="search-btn" aria-label="Left Align">
					<i class="fa fa-filter" aria-hidden="true"></i>
					<P class="filter-mobile">Filtrar</P>
				</button>
			</div>
		</form>
</div>
