<div class="linkshelf-tabs">
    <div class="linkshelf-tables-title">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Estado</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">DDD</a>
                <div class="dropdown-menu">
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Zona/Região</a>
                <div class="dropdown-menu">
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bairro/Cidade</a>
                <div class="dropdown-menu">
                </div>
            </li>
        </ul>
    </div>
    <div class="linkshelf-tables-body" style="background:red;">
    <ul class="list">
        <li class="item">
            <p class="text"><a class="link" href="http://rj.olx.com.br/rio-de-janeiro-e-regiao"  title="DDD 21 - Rio de Janeiro e região">DDD 21 - Rio de Janeiro e região</a><span class="qtd">, 1.099.773</span></p>
        </li>
        <li class="item">
            <p class="text"><a class="link" href="http://rj.olx.com.br/serra-angra-dos-reis-e-regiao"  title="DDD 24 - Serra, Angra dos Reis e região">DDD 24 - Serra, Angra dos Reis e região</a><span class="qtd">, 71.696</span></p>
        </li>
        <li class="item">
            <p class="text"><a class="link" href="http://rj.olx.com.br/norte-do-estado-do-rio"  title="DDD 22 - Norte do Estado e Região dos Lagos">DDD 22 - Norte do Estado e Região dos Lagos</a><span class="qtd">, 129.795</span></p>
        </li>
    </ul>
    </div>
</div>
