<div class="linkshelf-tabs">
    <div class="linkshelf-tables-title">
        <ul class="nav nav-tabs">
            <li class="nav-item col header">
                <a class="nav-link active link" href="#">Estado</a>
                <i class="fa fa-chevron-up" aria-hidden="true"></i>
            </li>
            <li class="nav-item col">
                <a class="nav-link decoration">DDD</a>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </li>
            <li class="nav-item col">
                <a class="nav-link decoration">Zona/Região</a>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </li>
            <li class="nav-item col">
                <a class="nav-link decoration">Bairro/Cidade</a>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </li>
        </ul>
    </div>
    <div>
        <div class="linkshelf-tables-body row">
            <ul class="list">
                <li class="item col localization">
                    <p class="text"><a class="link" href="#"  title="DDD 21 - Rio de Janeiro e região">Acre (AC)</a></p>
                </li>
                <li class="item col localization">
                    <p class="text"><a class="link" href="#"  title="DDD 24 - Serra, Angra dos Reis e região">Alagoas (AL)</a></p>
                </li>
                <li class="item col localization">
                    <p class="text"><a class="link" href="#"  title="DDD 22 - Norte do Estado e Região dos Lagos">Amapa (AP)</a></p>
                </li>
                <li class="item col localization">
                    <p class="text"><a class="link" href="#"  title="DDD 21 - Rio de Janeiro e região">Acre (AC)</a></p>
                </li>
                <li class="item col localization">
                    <p class="text"><a class="link" href="#"  title="DDD 24 - Serra, Angra dos Reis e região">Alagoas (AL)</a></p>
                </li>
                <li class="item col localization">
                    <p class="text"><a class="link" href="#"  title="DDD 22 - Norte do Estado e Região dos Lagos">Amapa (AP)</a></p>
                </li>
            </ul>
        </div>
    </div>
</div>