<div id="searchmain" class="section_search">
		<form id="search_form"  onsubmit="search();">
			<div class="form-group" id="section_search-by-word" style="background:green;">
				<div class="search-by-word">
					<input type="search" id="searchtext" class="form-field" placeholder="O que você procura?">
				</div>
				<div class="search-by-title">
					<label class="form-label"><input type="checkbox" class="form-field form-field-checkbox"> Procurar pelo título do anúncio</label>
				</div>
			</div>
			<div id="section_search-by-category" style="background:pink;">
				<div class="search-category" id="search-category">
						<h1 class="search-category-title">Busca por categorias</h1>
				</div>
                <div id="save_favorite_search">
                </div>
			</div>
		</form>
	</div>