<div class="row galery-announcement">
    <div class="col galery-announcement">
        <div class="row">
            <div class="col-sm-6 col-1">
                <a title="Iphone free" href="#">
                    <img class="thumbnail img-responsive" src="content/img/iphone-galery.jpg" >
                </a>
            </div>
            <div class="col-sm-6 col-2">
                <h3 class="gallery-title">Iphone 5S</h3>
                <p class="gallery-price"> R$ 70.000</p>
            </div>
        </div>
    </div>
    <div class="col galery-announcement">
        <div class="row">
            <div class="col-sm-6 col-1">
                <a title="Iphone free" href="#">
                    <img class="thumbnail img-responsive" src="content/img/iphone-galery.jpg" >
                </a>
            </div>
            <div class="col-sm-6 col-2">
                <h3 class="gallery-title">Iphone 5S</h3>
                <p class="gallery-price"> R$ 80.000</p>
            </div>
        </div>
    </div>
    <div class="col galery-announcement">
        <div class="row">
            <div class="col-sm-6 col-1">
                <a title="Iphone free" href="#">
                    <img class="thumbnail img-responsive" src="content/img/iphone-galery.jpg" >
                </a>
            </div>
            <div class="col-sm-6 col-2">
                <h3 class="gallery-title">Iphone 5S</h3>
                <p class="gallery-price"> R$ 90.000</p>
            </div>
        </div>
    </div>
</div>