<header class="header clearfix mobile-only" id="header">
    <div class="row mobile-only">
        <div class="col-sm-6 col-6 col-md-offset-1">
            <a href="#" id="banner-icon"class="navbar-brand d-flex w-50 mr-auto"></a>
        </div>
        <div class="OLXad-insert-box col-sm-6 col-6">
            <span class="label-free">
                <a class="btn btn-large btn-orange col-md-offset-1"  href="#" title="Inserir anúncio">Inserir anúncio</a>
            </span>
        </div>
    </div>
</header>