<div class="announcement-list" ng-controller="AnnouncementController" ng-init='load()'>
    <div ng-include="'app/modules/announcement-list/views/breadcrumb.html'"></div>
    <div ng-include="'app/modules/announcement-list/views/banner.html'"></div>
    <div class="row">
        <aside class="col-md-3">
            <div ng-include="'app/modules/announcement-list/views/announcement-search.html'"></div>
        </aside>
        <div class="col-md-9">
            <div ng-include="'app/modules/announcement-list/views/announcement-localization.html'"></div>
            <div ng-include="'app/modules/announcement-list/views/announcement-galery.html'"></div>
            <div ng-include="'app/modules/announcement-list/views/announcement-search-result.html'"></div>

                <div class="section-announcement-list">
                    <ul class="item" id="main-ad-list">
                        <li class="card-item row">
                            <div class="col-md-3 col-box">
                                <div class="card-galery-box">
                                    <div class="card-image-box">
                                        <img class="image" src="http://img.olx.com.br/thumbsli/69/699722026796000.jpg" alt="Pneus aro 15">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-box">
                                <div class="card-2-label">
                                    <h3 class="title-item">
                                       Kit de Pneus aro 15 semi-novos Michelin
                                    </h3>
                                </div>
                                <div class="card-2-label-line">
                                    <p class="text detail-region"> São Gonçalo, Rocha</p>
                                </div>
                            </div>
                            <div class="col-md-2 col-box">
                                <label class="gallery-price" id="price"> R$ 200.909</label>
                                <p class="text detail-today">Hoje as 11:15 </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="section-announcement-list">
                    <ul class="item" id="main-ad-list">
                        <li class="card-item row">
                            <div class="col-md-3 col-box">
                                <div class="card-galery-box">
                                    <div class="card-image-box">
                                        <img class="image" src="http://img.olx.com.br/thumbsli/72/728725024251357.jpg" alt="Palio lindo!">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-box">
                                <div class="card-2-label">
                                    <h3 class="title-item">
                                        Palio semi-novo 2017
                                    </h3>
                                </div>
                                <div class="card-2-label-line">
                                    <p class="text detail-region"> São Gonçalo, Rocha</p>
                                </div>
                            </div>
                            <div class="col-md-2 col-box">
                                <label class="gallery-price" id="price"> R$ 200.909</label>
                                <p class="text detail-today">Hoje as 11:15 </p>
                            </div>
                        </li>
                    </ul>
                </div>
                
                <div class="section-announcement-list">
                    <ul class="item" id="main-ad-list">
                        <li class="card-item row">
                            <div class="col-md-3 col-box">
                                <div class="card-galery-box">
                                    <div class="card-image-box">
                                        <img class="image" src="http://img.olx.com.br/thumbsli/72/724725027166776.jpg" alt="Caixa de direção">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-box">
                                <div class="card-2-label">
                                    <h3 class="title-item">
                                        Caixa de direção mercedes 2017
                                    </h3>
                                </div>
                                <div class="card-2-label-line">
                                    <p class="text detail-region"> São Gonçalo, Rocha</p>
                                </div>
                            </div>
                            <div class="col-md-2 col-box">
                                <label class="gallery-price" id="price"> R$ 200.909</label>
                                <p class="text detail-today">Hoje as 11:15 </p>
                            </div>
                        </li>
                    </ul>
                </div>
                
                <div class="section-announcement-list">
                    <ul class="item" id="main-ad-list">
                        <li class="card-item row">
                            <div class="col-md-3 col-box">
                                <div class="card-galery-box">
                                    <div class="card-image-box">
                                        <img class="image" src="http://img.olx.com.br/thumbsli/72/727724021490131.jpg" alt="Fiat Strada">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-box">
                                <div class="card-2-label">
                                    <h3 class="title-item">
                                        Fiat Strada 2015
                                    </h3>
                                </div>
                                <div class="card-2-label-line">
                                    <p class="text detail-region"> São Gonçalo, Rocha</p>
                                </div>
                            </div>
                            <div class="col-md-2 col-box">
                                <label class="gallery-price" id="price"> R$ 200.909</label>
                                <p class="text detail-today">Hoje as 11:15 </p>
                            </div>
                        </li>
                    </ul>
                </div>
                
                <div class="section-announcement-list">
                    <ul class="item" id="main-ad-list">
                        <li class="card-item row">
                            <div class="col-md-3 col-box">
                                <div class="card-galery-box">
                                    <div class="card-image-box">
                                        <img class="image" src="http://img.olx.com.br/thumbsli/72/723725025241767.jpg" alt="Caminhonete!">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-box">
                                <div class="card-2-label">
                                    <h3 class="title-item">
                                        Caminhonete 2017
                                    </h3>
                                </div>
                                <div class="card-2-label-line">
                                    <p class="text detail-region"> São Gonçalo, Rocha</p>
                                </div>
                            </div>
                            <div class="col-md-2 col-box">
                                <label class="gallery-price" id="price"> R$ 200.909</label>
                                <p class="text detail-today">Hoje as 11:15 </p>
                            </div>
                        </li>
                    </ul>
                    <div class="row pagination">
                        <div class="col-md-2">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            <a id="link-store" class="nav-link header" href="#">Anterior</a>
                        </div>
                        <div class="col-md-7">
                            <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item">
                                    <a class="page-status" href="#" tabindex="-1"><i class="fa fa-backward" aria-hidden="true"></i></a>
                                </li>
                                <li class="page-item"><a class="page-status" href="#">1</a></li>
                                <li class="page-item"><a class="page-status" href="#">2</a></li>
                                <li class="page-item"><a class="page-status" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-status" href="#"><i class="fa fa-forward" aria-hidden="true"></i></a>
                                </li>
                            </ul>
                            </nav>
                        </div>
                        <div class="col-md-3">
                            <div class="OLXad-insert-box">
                                <span class="label-free">
                                    <a class="btn btn-large btn-orange" href="#" id="button-next-page">Proxima Pagina <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            <h4>Você também pode gostar de:</h4>
            <div ng-include="'app/modules/announcement-list/views/announcement-galery-5-items.html'"></div>
        </div>
    </div>
</div>