<div id="searchmain" class="section_search desktop-only">
		<form id="search_form"  onsubmit="search();">
			<div class="form-group" id="section_search-by-word">
				<div class="search-by-word">
					<input class="form-control search-all"  type="text" placeholder="O que você procura?">
				</div>
				<div class="search-by-title">
					<label class="form-label"><input type="checkbox" class="form-field form-field-checkbox"> Procurar pelo título do anúncio</label>
				</div>
			</div>
			<div class="section_search-by-category">
				<div class="search-category" id="search-category">
						<h1 class="search-category-title">Filtrar</h1>
				</div>
                <div id="save_favorite_search">
					<ul ng-repeat="categorie in categories">
						<li class="categories-label">{{categorie.label}}</li>
					</ul>
                </div>
			</div>
		</form>
</div>
