<div class="linkshelf-tabs desktop-only">
    <div class="linkshelf-tables-title">
        <ul class="nav nav-tabs">
            <li class="nav-item col header">
                <a class="nav-link active link" href="#">Estado</a>
                <i class="fa fa-chevron-up" aria-hidden="true"></i>
            </li>
            <li class="nav-item col">
                <a class="nav-link decoration"  href="#">DDD</a>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </li>
            <li class="nav-item col">
                <a class="nav-link decoration"  href="#">Zona/Região</a>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </li>
            <li class="nav-item col">
                <a class="nav-link decoration"  href="#">Bairro/Cidade</a>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </li>
        </ul>
    </div>
    <div>
        <div class="linkshelf-tables-body row">
            <ul class="list"  ng-repeat="state in states_brasil">
                <li class="item col localization">
                    <p class="text"><a class="link" id="state" href="#"  title="DDD 21 - Rio de Janeiro e região">{{state}}</a></p>
                </li>
            </ul>
        </div>
    </div>
</div>