<h4 class="desktop-only">Você também pode gostar de:</h4>
<div class="row galery-announcement desktop-only">
    <div class="col galery-announcement">
        <div class="row">
            <div class="col-md-12 col-1">
                <a title="Iphone free" href="#">
                    <img class="thumbnail img-responsive" src="content/img/iphone-galery.jpg" >
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-2">
                <h3 class="gallery-title">Iphone 5S</h3>
                <p class="gallery-price"> R$ 70.000</p>
            </div>
        </div>
    </div>
    <div class="col galery-announcement">
        <div class="row">
            <div class="col-md-12 col-1">
                <a title="Iphone free" href="#">
                    <img class="thumbnail img-responsive" src="content/img/iphone-galery.jpg" >
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-2">
                <h3 class="gallery-title">Iphone 5S</h3>
                <p class="gallery-price"> R$ 70.000</p>
            </div>
        </div>
    </div>
    <div class="col galery-announcement">
        <div class="row">
            <div class="col-md-6 col-1">
                <a title="Iphone free" href="#">
                    <img class="thumbnail img-responsive" src="content/img/iphone-galery.jpg" >
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-2">
                <h3 class="gallery-title">Iphone 5S</h3>
                <p class="gallery-price"> R$ 70.000</p>
            </div>
        </div>
    </div>
        <div class="col galery-announcement">
        <div class="row">
            <div class="col-md-6 col-1">
                <a title="Iphone free" href="#">
                    <img class="thumbnail img-responsive" src="content/img/iphone-galery.jpg" >
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-2">
                <h3 class="gallery-title">Iphone 5S</h3>
                <p class="gallery-price"> R$ 70.000</p>
            </div>
        </div>
    </div>
    <div class="col galery-announcement">
        <div class="row">
            <div class="col-md-6 col-1">
                <a title="Iphone free" href="#">
                    <img class="thumbnail img-responsive" src="content/img/iphone-galery.jpg" >
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-2">
                <h3 class="gallery-title">Iphone 5S</h3>
                <p class="gallery-price"> R$ 70.000</p>
            </div>
        </div>
    </div>
</div>