<div class="row">
  <nav id="breadcrumb-box" class="breadcrumb col-md-7 col-sm-6 col-6">
    <a class="breadcrumb-item" href="#">RJ</a>
    <a class="breadcrumb-item" href="#">Rio de Janeiro e região</a>
    <a class="breadcrumb-item desktop-only" href="#">Carros</a>
    <a class="breadcrumb-item desktop-only" href="#">Palio</a>
    <a class="breadcrumb-item desktop-only" href="#">Zona Norte</a>
    <span class="breadcrumb-item active desktop-only">São Cristóvão</span>
  </nav>
  <div class="col-md-6 col-sm-6 col-6">

  </div>
</div>
