<header class="header clearfix">
    <nav class="navbar navbar-light navbar-toggleable-sm bg-faded justify-content-center">
        <a href="/" class="navbar-brand d-flex w-50 mr-auto">OLX</a>
        <input class="form-control" type="text" placeholder="O que você procura?">
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="#">Lojas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Meus anúncios</a>
            </li>
        </ul>
        <div id="loginBox" class="login-box">
            <div class="login-msg-box not-logged">
                <span>
                    <a class="btn btn-large btn-orange" title="Minha Conta" href="#">Minha conta</a>
                </span>
            </div>
        </div>
        <div class="OLXad-insert-box">
            <span class="label-free">
                <a class="btn btn-large btn-orange"  href="#" title="Inserir anúncio">Inserir anúncio</a>
            </span>
        </div>
    </nav>
</header>