@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('app/modules/announcement-list/style/announcement-list.css');

body {
	margin: 0;
	font-family: Arial, 'Lato';
}
ul {
    list-style: none;
    padding: 0 0 0 0px;
    margin: 0 0 0 0px;
}

a.link {
    color: #38b;
    font-weight: 700;
}

header#header{
	background-color: #FAFAFA;
    display: block;
    overflow: hidden;
    padding: 5px 10px;
}

#banner-icon {
	background-image: url('../../img/banner.png');
    display: block;
    height: 70px;
    overflow: hidden;
    width: 60px;
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: center;
}

input.form-control.search-all{
	background-image: url('../../img/search-icon.svg');
	display: block;
    overflow: hidden;
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: right;

}
nav.navbar.navbar-light.navbar-toggleable-sm.bg-faded.justify-content-center.navbar-header{
	background-color: #FAFAFA;
}

a#link-store {
    color: #2195DB;
}

a#link-announcement {
    color: #2195DB;
}


.login-msg-box.not-logged{
	background: #FFF url('../../img/login-icon.png') 10px center no-repeat;
    padding: 0 10px 0 35px;
}
.login-msg-box.not-logged{
	font-size: 0.083em;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
	width: 150px;
}
a.link-login {
    padding-left: 11px;
    text-decoration: none;
}

a.btn.btn-large.btn-orange {
    color: #FFF;
    background-color: #EE6600;
    font-size: 1.3em;
    line-height: 30px;
    padding-left: 23px;
    padding-right: 23px;
    margin-left: 20px;
}

#breadcrumb-box{
	background-color: #FFF;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #636c72;
    content: ">";
}

.breadcrumb-item{
	color: #7f888e;
}

.row.justify-content-md-center.advertising.ng-scope {
    height: 139px;
    margin: 0 auto 7px;
}
label.form-label {
    font-size: 1em;
    line-height: 1.167em;
}

input.form-field.form-field-checkbox {
    height: 20px;
    width: 21px;
    cursor: pointer;
    vertical-align: text-bottom;
    margin: 9px 0 1px;
}

.section_search-by-category {
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
}

h1.search-category-title {
    background-color: #FAFAFA;
    color: #333333;
    border: 1px solid #ccc;
    font-size: 1.467em;
    font-weight: 300;
    line-height: 35px;
    overflow: hidden;
    padding: 11px 89px;
}

div#search-category {
    margin-top: -15px;
}

li.nav-item.col.header{
    background-color: #fff4a6;
    border-bottom: 1px solid #fff4a6;
    border-radius: 3px 3px 0 0;
}
a.nav-link.active.link{
    background-color: #fff4a6;
    border-color: #fff4a6;
    color: #333;
    font-size: 1.09em;
    font-weight: 600;
    margin-top: 7px;
    padding: 0;
    float:left;
}
li.nav-item.col {
    border: 1px solid #ccc;
    border-radius: 3px 3px 0 0;
    float: left;
    height: 49px;
    overflow: hidden;
    background-color: #fff;
}
a.nav-link {
    float: left;
}
a.nav-link.decoration {
    color: #ccc;
}
i.fa.fa-chevron-up {
    float: right;
    margin-top: 12px;
    color: #ccc;
}
i.fa.fa-chevron-down {
    float: right;
    margin-top: 12px;
    color: #ccc;
}

li.item.col.localization {
    float: left;
    margin-top: 9px;
    width: 300px;
}

.linkshelf-tables-body.row {
    width: 100%;
    margin-left: 0%;
    background-color: #fff4a6;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.col.galery-announcement {
    float: left;
    width: 242px;
}

h3.gallery-title {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.167em;
    max-height: 42px;
    overflow: hidden;
    font-weight: 200;
    padding-top: 21px;
}
img.thumbnail.img-responsive {
    display: block;
    height: 92px;
    padding: 5px;
    width: 102px;
    overflow: hide;
}
.gallery-price {
    font-weight: bold;
    color: #EE6600;
    margin: 0px;
}

.item.all {
    font-weight: bold;
    margin-top: 26px;
}

.section_filter-order.row {
    margin: 0px;
}

.section_filterby_save {
    border: 1px solid #ccc;
    border-radius: 7px;
    height: 51px;
    margin-top: 11px;
    display: inline-flex;
}
.heart-icon{
    background-image: url('../../img/heart-icon.svg');
    margin-top: 8px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: left;
    height: 33px;
}
a.btn-save {
    font-weight: bold;
    color:black;
}

span.label-save-search.col-md-9 {
    margin-top: 12px;
}

.section-announcement-list {
    margin-top: 20px;
    margin-bottom: 20px;
}

li.card-item.row {
    border: 1px solid #ccc;
    margin-bottom: 0px;
}

.title-item {
    color: #333333;
    font-size: 1.167em;
    font-weight: 700;
    line-height: 1.143em;
    max-height: 32px;
    overflow: hidden;
    height: 51px;
}

.card-2-label {
    height: 70px;
}

p.text.detail-region {
    font-size: 1em;
    line-height: 1.167em;
}

.col-box {
    margin-top: 11px;
}

p.text.detail-today {
    color: #ccc;
    font-size: 0.04em;
}

p.text.detail-region {
    font-size: 0.08em;
    line-height: 1.167em;
    font-weight: bold;
    color: #333333;
}
#price{
    font-size: larger;
}
/* pagination */
i.fa.fa-chevron-left {
    float: left;
    margin-top: 11px;
    color: #2195db;
}
#button-next-page{
    font-size: medium;
}
.pagination{
    margin-top:10px;
}
/* footer */
p.ng-binding {
    text-align: center;
    margin-top: 6px;
    font-family: cursive;
}
.line-footer{
        border-top: 3px solid #272B38;
}
.page-status {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #333333;
    background-color: #fff;
}